<div class ="container pt-5" style="width: 80%;" >
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="text-center">
                <h2>お問い合わせありがとうございました。</h2>
                <p>
                ご返信までに数日要する場合があります。<br>
                あらかじめご了承ください。
                </p>
                <div class="text-center align-middle"><%= link_to "TOPへ戻る", root_path , 'data-turbolinks': false %></div>
            </div>
        </div>
    </div>
</div>