  <div class="row p-3">
   <h3>コメント</h3>
    <div class="col-md-12">
     <%= form_with(model: [post, post_comment], remote: true) do |form| %>
      <%= form.text_area :comment_content, rows: "5", class: "form-control" %>
      <%= form.submit "コメントを送信", class: "btn btn-secondary mt-1" %>
     <% end %>
    </div>
  </div>