<div class='container px-5 px-sm-0 pt-3'>
  <div class='row'>
    <div class='col-md-12'>
      <h2><%= link_to @user.name, user_path(@user) %>のフォロワー一覧</h2>
      
        <%= render 'public/relationships/follow_list', { user: @user, users: @users } %>

    </div>
  </div>
</div>