<div class="container pt-2 pb-2">
  <h2 class="pt-2 pb-2">ヘルプ</h2>
      <ul class="accordion-area">
        <li>
          <section>
            <h4 class="accordion-title">メールアドレスが受信されない</h4>
              <div class="accordion-box">
                <p>メールアドレスが受信されないメールアドレスが受信されないメールアドレスが受信されない</p>
              </div>
          </section>
        </li>
         <li>
          <section>
            <h4 class="accordion-title">メールアドレスが受信されない</h4>
              <div class="accordion-box">
                <p>メールアドレスが受信されないメールアドレスが受信されないメールアドレスが受信されない</p>
              </div>
          </section>
        </li>
         <li>
          <section>
            <h4 class="accordion-title">メールアドレスが受信されない</h4>
              <div class="accordion-box">
                <p>メールアドレスが受信されないメールアドレスが受信されないメールアドレスが受信されない</p>
              </div>
          </section>
        </li>
         <li>
          <section>
            <h4 class="accordion-title">メールアドレスが受信されない</h4>
              <div class="accordion-box">
                <p>メールアドレスが受信されないメールアドレスが受信されないメールアドレスが受信されない</p>
              </div>
          </section>
        </li>
      </ul>
</div>