<div class="container pt-2 pb-2">
  <h2 class="pt-2 pb-2">ヘルプ</h2>
      <ul class="accordion-area">
        <li>
          <section>
            <h4 class="accordion-title">自動送信メールが届かない</h4>
              <div class="accordion-box">
                <p>自動送信されるメールの送信元アドレスは、mangatravel.login@gmail.com です。<br>
                  迷惑メールフォルダに振り分けることもありますので、全てのフォルダをご確認ください。<br>
                  ※自動送信メールが届くまで、数分かかる場合がございます。
                </p>
              </div>
          </section>
        </li>
         <li>
          <section>
            <h4 class="accordion-title">項目がない</h4>
              <div class="accordion-box">
                <p>ページ下部にあるお問い合わせから入力事項と詳細を入力のうえお問い合わせください。
                </p>
              </div>
          </section>
        </li>
      </ul>
</div>