@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');


*{
  font-family: 'Kiwi Maru', serif;
}

main {
    background-color: #E7E7E7;
}

header li {
    font-size: 15px;
    margin-right: 14px;
}


// ---------- footer ---------- //

footer ul {
    list-style: none;
    display: flex;
}

footer li {
    font-size: 15px;
    margin-right: 14px;    
}

.footer {
    text-align: center;
}