<% if obj.errors.any? %>
  <div id="error_explanation">
    <h3 class="p-3 text-light"><%= pluralize(obj.errors.count, "つ") %> のエラーがあります。</h3>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>